[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
celery = "5.2.7"
djangorestframework = "*"

[dev-packages]
black = "23.3.0"
django-environ = "0.10.0"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
