[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
celery = "5.2.7"
django-celery-beat = "2.5.0"

[dev-packages]
black = "23.3.0"
django-environ = "0.10.0"
flower = "1.2.0"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
